
<div class="menu">
    <!-- pc 端-->
    <div class="menu-f display-pc not-display-600">
        <a data-sub="ss_about" class="font-en">
            <span class="zh" style="letter-spacing: 0">首页</span>
            <span class="en">firstPage</span>
        </a>
        <a href="/project" data-sub="ss_projects" class="">
            <span class="zh">项目</span>
            <span class="en font-en">projects</span>
        </a>
        <a data-sub="ss_news" class="">
            <span class="zh">动态</span>
            <span class="en font-en">news</span>
        </a>
        <a data-sub="ss_rs" class="active">
            <span class="zh">关于</span>
            <span class="en font-en">about</span>
        </a>
        <a data-sub="ss_contact">
            <span class="zh">联系</span>
            <span class="en font-en">contact</span>
        </a>

        <div class="menu-s">
            <div class="menu-ss" id="ss_about" style="display: none;">
                <a href="/">
                    <span class="zh">首页</span>
                    <span class="en font-en">firstPage</span>
                </a>
            </div>
            <div class="menu-ss" id="ss_projects" style="display: none;">
                <a href="/items/57">
                    <span class="zh">酒店会所</span>
                    <span class="en font-en"></span>
                </a>
               <!-- <a href="/items/58">
                    <span class="zh">商业空间</span>
                    <span class="en font-en">Residential</span>
                </a>-->
                <a href="/items/59">
                    <span class="zh">地产空间</span>
                    <span class="en font-en"></span>
                </a>
                <a href="/items/60">
                    <span class="zh">餐饮空间</span>
                    <span class="en font-en"></span>
                </a>
                <a href="/items/61">
                    <span class="zh">住宅空间</span>
                    <span class="en font-en"></span>
                </a>
                <a href="/items/62">
                    <span class="zh">办公空间</span>
                    <span class="en font-en"></span>
                </a>
                <a href="/items/58">
                    <span class="zh">教育空间</span>
                    <span class="en font-en"></span>
                </a>
            </div>
            <div class="menu-ss" id="ss_news" style="display: none;">
                <a href="/news">
                    <span class="zh">新闻</span>
                    <span class="en font-en">Events</span>
                </a>
            </div>
            <div class="menu-ss" id="ss_rs" style="display: block;">
                <a href="/about">
                    <span class="zh">关于公司</span>
                    <span class="en font-en">Books</span>
                </a>
                <a href="/coreTeam">
                    <span class="zh">核心团队</span>
                    <span class="en font-en">Publication</span>
                </a>
            </div>
            <div class="menu-ss" id="ss_contact" style="display: none;">
                <a href="/contact">
                    <span class="zh">联系我们</span>
                    <span class="en font-en">Contact Us</span>
                </a>
                <a href="/join">
                    <span class="zh">加入我们</span>
                    <span class="en font-en">Join Us</span>
                </a>
            </div>
        </div>
    </div>
    <!-- 手机端-->
    <div class="menu-f not-display-pc display-600">
        <a href="/">
            <span class="zh">首页</span>
            <span class="en font-en">first</span>
        </a>
        <div class="menu-fb">
            <span class="zh">项目</span>
            <span class="en font-en">projects</span>
            <div class="menu-ss" style="display: none;">
                <a href="/items/57">
                    <span class="zh">酒店会所</span>
                    <span class="en font-en"></span>
                </a>
                <a href="/items/59">
                    <span class="zh">地产空间</span>
                    <span class="en font-en"></span>
                </a>
                <a href="/items/60">
                    <span class="zh">餐饮空间</span>
                    <span class="en font-en"></span>
                </a>
                <a href="/items/61">
                    <span class="zh">住宅空间</span>
                    <span class="en font-en"></span>
                </a>
                <a href="/items/62">
                    <span class="zh">办公空间</span>
                    <span class="en font-en"></span>
                </a>
                <a href="/items/58">
                    <span class="zh">教育空间</span>
                    <span class="en font-en"></span>
                </a>
            </div>
        </div>
        <a href="/news">
            <span class="zh">动态</span>
            <span class="en font-en">events</span>
        </a>
        <div class="menu-fb">
            <span class="zh">关于</span>
            <span class="en font-en">about</span>
            <div class="menu-ss" style="display: none;">
                <a href="/about">
                    <span class="zh">关于公司</span>
                    <span class="en font-en">Books</span>
                </a>
                <a href="/coreTeam">
                    <span class="zh">核心团队</span>
                    <span class="en font-en">Publication</span>
                </a>
            </div>
        </div>
        <div class="menu-fb">
            <span class="zh">联系</span>
            <span class="en font-en">contact</span>
            <div class="menu-ss" style="display: none;">
                <a href="/contact">
                    <span class="zh">联系我们</span>
                    <span class="en font-en">contact us</span>
                </a>
                <a href="/join">
                    <span class="zh">加入我们</span>
                    <span class="en font-en">join us</span>
                </a>
            </div>
        </div>
    </div>

    <a href="/">
       <!-- <img class="logo" src="/imgs/logo-wht.svg">-->
    </a>

    <div class="m-footer font-en">
        <span class="item display-pc-inline not-display-600">${webInfoDTO.footer}</span>
        <span class="item">豫ICP备11004507号-1</span>
        <span class="item not-display-pc display-600">${webInfoDTO.footer}</span>
    </div>
    <div class="social">
        <a class="item qr-opener">
            <img src="/imgs/icon-wechat.svg">
            <!--<img src="tempImgs/weixin.jpg">-->
        </a>
        <a class="item" href="https://weibo.com/hklld?is_all=1" target="_blank">
            <img src="/imgs/icon-weibo.svg">
        </a>
    </div>
</div>