.div-parent{
    width: 100%;
    margin: auto;
}
.about_p{
    width: 70%;
    margin: auto;
    margin-top: 60px;
}
.about_1 .about_2{
    width: 50%;
    line-height: 1.5;
    text-align: center;
}
.about_1{
    float: left;
}
.about_2{
    float: right;
}
.about_img_div{
    width: 100%;
    text-align: center;
}
.about_p_img{
    width: 80%;
    overflow: hidden;
}