.parent{
    display:flex;
    overflow:hidden;

}
.table{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 100px;
}
#table1{
    width: 100%;
}
td{
    width: 50%;
}
#table1 td span{
    font-size: 0.875rem;
    line-height: 2;
}
#address{
    width: 100%;
}