.gundongBox{
    width:90%;
    height:750px;
    margin:auto;
    position:relative;
    overflow:hidden;
}

.gundongList{
    position:absolute;
    animation:geiwogun 20s linear infinite;
    white-space:nowrap;
}
.gundongList img{
    width:100%;
    /*height:600px;*/
}
@keyframes geiwogun{
    from{
        transform:translate(0,0);
    }
    to{
        transform:translate(-100%,0);
    }
}

